<div class="row">
	<ul class="nav nav-tabs nav-justified">
	    <li role="presentation" class="active">
	    	<a href="#!/projects/{{name}}/readme" aria-controls="readme" role="tab">Readme</a>
	    </li>
	    <li role="presentation">
	    	<a href="#!/projects/{{name}}/stats" aria-controls="stats" role="tab">Statistics</a>
	    </li>
	</ul>
</div>

<div ng-if="resolve">
	<div class="row" ng-if="readme!=='error'" ng-bind-html="readme | trustHTML"></div>
	<div class="row" ng-if="readme=='error'" style="text-align: center">
		<br>
		<h4>Repo is Private or Readme does not exist!</h4>
		<br>
	</div>
</div>
<div class="row" ng-if="!resolve" style="text-align: center">
	<br>
	<i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
	<br>
	<br>
</div>
